<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field>
      <mat-label for="login">Login</mat-label>
      <input matInput type="text" name="login" formControlName="login">
      <span *ngIf="loginForm.get('login')?.touched || loginForm.get('login')?.dirty && !loginForm.get('login')?.valid">
        <span *ngIf="loginForm.get('login')?.errors?.['required']">
          une valeur est obligatoire
        </span>
        <span *ngIf="loginForm.get('login')?.errors?.['minlength']">
          Au moins 3 caractères
        </span>
      </span>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label for="password">Password</mat-label>
      <input matInput type="password" name="password" formControlName="password">
    </mat-form-field>
  </p>
  <button mat-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
</form>
